<div class="container mt-3">
    <div class="row">
        <div class="row">
            <div class="col-md-10">
                <h4>Listado de Cuentas</h4>
            </div>
            <div class="d-flex bd-highlight mb-3">               
                <div class="p-2 bd-highlight">
                  <button class="btn btn-success" (click)="accion()">                   
                     Agregar
                   </button> 
                </div>
             </div>
        </div>

        <div class="d-flex flex-row">
            <table class="table table-striped table-bordered table-list">
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Tipo</th>
                        <th>Saldo Inicial</th>
                        <th>Estado</th>                       
                        <th>Cliente</th>                       
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cuenta of cuentas">
                        <td>{{cuenta.numeroCuenta}}</td>
                        <td>{{cuenta.tipo}}</td>
                        <td>{{cuenta.saldoInicial}}</td>
                        <td>{{cuenta.estado}}</td>
                        <td>{{cuenta.cliente}}</td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>